services:
  dev:
    profiles: ["dev"]
    image: alex-can-boilerplate-dev
    build:
      context: .
      target: dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - node_modules_volume:/app/node_modules
      - pnpm_store:/root/.local/share/pnpm/store  # Persist pnpm cache
    environment:
      - NODE_ENV=development
    command: sh -c "pnpm install && pnpm run dev"

  prod:
    profiles: ["prod"]
    image: alex-can-boilerplate-prod
    build:
      context: .
      target: prod
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production

  trivy:
    profiles: [tools]
    image: aquasec/trivy:0.65.0@sha256:a22415a38938a56c379387a8163fcb0ce38b10ace73e593475d3658d578b2436
    environment:
      - TRIVY_CACHE_DIR=/root/.cache/trivy
    volumes:
      - .:/app
      - trivy-cache:/root/.cache/trivy
      - /var/run/docker.sock:/var/run/docker.sock
      - ./trivy.yaml:/app/trivy.yaml
    working_dir: /app

volumes:
  node_modules_volume:
  pnpm_store:
  trivy-cache:
