name: alex-can-boilerplate
services:
  dev:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: Dockerfile.dev
    init: true
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - node_modules:/app/node_modules #? Prevents to host to override node_modules in container
      - pnpm_store:/home/vscode/.local/share/pnpm/store
      - /var/run/docker.sock:/var/run/docker.sock #? Required for Trivy image scan; note: not ideal - dangerous. TODO: change that.
    environment:
      - NODE_ENV=development
    #* Entrypoint script "docker-entrypoint.sh" runs before command below
    command: tail -f /dev/null #? Keeps container alive, cleanly ends when needed

  prod:
    profiles: ["prod"]
    restart: unless-stopped
    build:
      context: .
      target: prod
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production

volumes:
  pnpm_store:
  node_modules:
